name: Threadfin Beta Build
on:
  push:
    branches:
      - beta
permissions:
  contents: write
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: beta

      - name: Set up and Build
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
        id: go
      - run: |
         go mod tidy && go mod vendor
         echo "Building Linux"
         env GOOS=linux GOARCH=amd64 go build -o dist/Threadfin_linux_amd64
